html {
    font-family: "微软雅黑";
}

body {
    margin: 0;
    padding: 0;
    background: url(../img/bg2.png) no-repeat;
    background-size: cover;
    padding: 45px;
    height: 100vh;
    box-sizing: border-box;
    min-width: 1200px;
}

.main {}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

//布局
$size:16px!default;
$color:#000!default;
@mixin font($size, $color) {
    font-size: $size;
    color: $color;
}

// 盒子大小
$width:auto!default;
$height:auto!default;
@mixin box($width, $height) {
    width: $width;
    height: $height;
}

//移动端换算比例
@function px2rem($px) {
    $rem: 75;
    @return ( $px / $rem)+rem;
}

//文字位置
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

//盒子居中
.box-center {
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

//flex布局
.flex {
    display: flex;
}

.flex_base {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_basec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

//浮动
.float_left {
    float: left;
}

.float_right {
    float: right;
}

//单行文本隐藏
.ecplice {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//多行文本隐藏
@mixin column($column) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $column;
    overflow: hidden;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.phonewrap {
    @extend .flex_between;
    .phonebox {
        width: 32%;
        display: inline-block;
        margin-right: 2%;
        &:nth-child(3n) {
            margin-right: 0px;
        }
    }
}

.phonewrap {
    font-size: 0px;
}

.imgbox {
    // height: px2rem(580);
    background: rgba($color: #fff, $alpha: .4);
    padding: px2rem(15);
    img {
        // min-height: 145px;
        width: 60%;
        margin-top: 20px;
    }
    p {
        font-size: 3vh;
        color: #ffff00;
        white-space: nowrap;
        margin-top: 20px;
        margin-bottom: 20px;
        font-style: italic;
    }
}

.caption {
    @extend .flex;
    background: url(../img/bottombg.png);
    background-size: cover;
    background-position: center left;
    padding: 5px;
    height: 128px;
}

.tag {
    font-size: 1.5vh;
    color: #000000;
    width: 32%;
    @extend .flex_base;
    font-weight: bold;
}

.price {
    font-size: 2.8vh;
    color: #ff0000;
    width: 68%;
    @extend .flex_base;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.zwbox {
    margin-top: 9vh;
}